<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suwonsmartapp.hello" >

    <!-- 도전.06 웹브라우저 화면 구성 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 구글 맵을 위해 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Open GL 버전2 지원여부 (Google Map) -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <!-- 주소록 읽기 쓰기 권한 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 위치 정보 권한 -->
    <!-- 3G, LTE, Wifi 를 통한 위치 정보 얻기 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <!-- 3G, LTE, Wifi, GPS 를 통한 위치 정보 얻기 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 진동 권한 -->
    <uses-permission android:name="ANDROID.PERMISSION.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.SecondActivity"
            android:label="@string/app_name" />
        <!-- <activity -->
        <!-- android:name=".SecondActivity" -->
        <!-- android:label="@string/title_activity_second" > -->
        <!-- </activity> -->
        <activity
            android:name=".activity.RelativeLayoutExamActivity"
            android:label="@string/title_activity_relative_layout_exam" />
        <activity
            android:name=".activity.TableLayoutActivity"
            android:label="@string/title_activity_table_layout" />
        <activity
            android:name=".activity.FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" />
        <activity
            android:name=".challenge.challenge01.ImageExamActivity"
            android:label="@string/title_activity_image_exam" />
        <activity
            android:name=".activity.EditTextActivity"
            android:label="@string/title_activity_edit_text" />
        <activity
            android:name=".challenge.challenge02.SMSActivity"
            android:label="@string/title_activity_sms" />
        <activity
            android:name=".activity.ActivityExamActivity"
            android:label="@string/title_activity_activity_exam"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TargetActivity"
            android:label="@string/title_activity_target" />
        <activity
            android:name=".event.TouchEventActivity"
            android:label="@string/title_activity_event" />
        <activity
            android:name=".challenge.challenge04.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".challenge.challenge04.SubActivity"
            android:label="@string/title_activity_sub" />
        <activity
            android:name=".challenge.challenge05.Mission05MainActivity"
            android:label="@string/title_activity_mission05_main" />
        <activity
            android:name=".challenge.challenge06.Mission06MainActivity"
            android:label="@string/title_activity_mission06_main" />
        <activity
            android:name=".listview.ListViewExam01Activity"
            android:label="@string/title_activity_list_view_exam01"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".listview.ListViewExam02Activity"
            android:label="ListViewExam02Activity" />
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:theme="@style/Base.Theme.AppCompat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubActivity"
            android:label="SubActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".listview.SpinnerActivity"
            android:label="@string/title_activity_spinner"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".listview.GridActivity"
            android:label="@string/title_activity_grid"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".challenge.challenge07_08.CalendarActivity"
            android:label="@string/title_activity_calendar" />
        <activity
            android:name=".thread.ThreadActivity"
            android:label="@string/title_activity_thread" />
        <activity
            android:name=".thread.AsyncTaskActivity"
            android:label="@string/title_activity_async_task" />
        <activity
            android:name=".thread.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".thread.TimerActivity"
            android:label="@string/title_activity_timer" />
        <activity
            android:name=".service.KitchenTimerActivity"
            android:label="@string/title_activity_timer_service" />

        <service android:name=".service.KitchenTimerService" />

        <activity
            android:name=".broadcast.BroadcastActivity"
            android:label="@string/title_activity_broadcast" />

        <!-- 글로벌 리시버 (다른 앱에서 쏜 broadcast 도 받는다) -->
        <receiver
            android:name=".broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".parsing_json.ParsingActivity"
            android:label="@string/title_activity_parsing" />
        <activity
            android:name=".parsing_json.WebViewActivity"
            android:label="@string/title_activity_web_view" />
        <activity
            android:name=".parsing_xml.ParsingActivity"
            android:label="@string/title_activity_parsing" />
        <activity
            android:name=".map.MainActivity"
            android:label="@string/title_activity_parsing" />

        <!-- Google Map 사용을 위해 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4KvVl4vfpkj0-6_hf4csqANy4ubHZFXo" />

        <activity
            android:name=".bitmap.BitmapActivity"
            android:label="@string/title_activity_bitmap" >
        </activity>
        <activity
            android:name=".graphic.GraphicActivity"
            android:label="@string/title_activity_graphic" >
        </activity>
        <activity
            android:name=".save.preference.SharedPreferenceActivity"
            android:label="@string/title_activity_shared_preference" />
        <activity
            android:name=".save.preference.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".save.file.FileActivity"
            android:label="@string/title_activity_file" />
        <activity
            android:name=".save.db.DbActivity"
            android:label="@string/title_activity_db" />
        <activity
            android:name=".chat.ClientActivity"
            android:label="ClientActivity" />
        <activity
            android:name=".remotecontroller.client.RemoteControllerActivity"
            android:label="@string/title_activity_remote_controller" >
        </activity>
        <activity
            android:name=".camera.intent.CameraIntentActivity"
            android:label="@string/title_activity_camera_intent" >
        </activity>
        <activity
            android:name=".camera.builtin.CameraBuiltinActivity"
            android:label="@string/title_activity_camera_builtin"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".multimedia.MediaPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_media_player" >

            <!-- 오디오 파일이 선택 되었을 때 Chooser 에 표시 되도록 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <service
            android:name=".multimedia.MusicService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".challenge.challenge17.MovieListActivity"
            android:label="@string/title_activity_movie_list" >
        </activity>
        <activity
            android:name=".contentprovider.ContactActivity"
            android:label="@string/title_activity_contact"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name=".filemanager.FileManagerActivity"
            android:label="@string/title_activity_file_manager"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name=".location.LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name=".notification.NotificationActivity"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name=".fragment.FragmentMainActivity"
            android:label="@string/title_activity_fragment_main" >
        </activity>
        <activity
            android:name=".fragment.DownFragmentActivity"
            android:label="@string/title_activity_down_fragment" >
        </activity>
        <activity
            android:name=".activity.ViewPagerActivity"
            android:label="@string/title_activity_view_pager" >
        </activity>
        <activity
            android:name=".activity.NavigationActivity"
            android:label="@string/title_activity_navigation" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".sensor.BallGameActivity"
            android:label="@string/title_activity_ball_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".location.SpeedActivity"
            android:label="@string/title_activity_speed"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.ToolbarActivity"
            android:label="@string/title_activity_toolbar" >
        </activity>
        <activity android:name=".activity.JNIActivity" />
        <activity android:name=".activity.EventBusActivity" />
        <activity android:name=".activity.NextActivity" />
    </application>

</manifest>
